<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.supermap.testMultiModule.dao.shirodemo.RolePermRelMapper" >
  <resultMap id="BaseResultMap" type="com.supermap.testMultiModule.pojo.shirodemo.RolePermRel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="perm_id" property="permId" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from role_perm_rel
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.supermap.testMultiModule.pojo.shirodemo.RolePermRel" >
    insert into role_perm_rel (id, perm_id, role_id
      )
    values (#{id,jdbcType=BIGINT}, #{permId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.supermap.testMultiModule.pojo.shirodemo.RolePermRel" >
    update role_perm_rel
    set perm_id = #{permId,jdbcType=BIGINT},
      role_id = #{roleId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, perm_id, role_id
    from role_perm_rel
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, perm_id, role_id
    from role_perm_rel
  </select>
</mapper>